<div class="container">
    <p></p>
    <div class="container">
        <h4>Filters</h4>
        <form novalidate ng-submit="getProducts()">
            <div class="form-floating input-group-sm">
                <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title">
                <label for="filterTitle">Product title</label>
            </div>
            <p></p>
            <div class="form-floating input-group-sm">
                <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.minPrice">
                <label for="filterMinPrice">Product min price</label>
            </div>
            <p></p>
            <div class="form-floating input-group-sm">
                <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.maxPrice">
                <label for="filterMaxPrice">Product max price</label>
            </div>
            <p></p>
            <button class="btn btn-outline-warning btn-primary" style="color: black; background-color: #e3f2fd" type="submit">Apply</button>
        </form>
    </div>

    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">price</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in products">
            <td>{{ p.id }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>
                <button class="btn btn-primary btn-sm" style="background-color: #e3f2fd; color: black"
                        ng-click="moveToViewProduct(p.id)">View
                </button>
            </td>
            <td>
                <button class="btn btn-primary btn-sm" style="background-color: #e3f2fd; color: black"
                        ng-click="addProductInCart(p.id)">Add to cart
                </button>
            </td>
            <td>
                <button class="btn btn-primary btn-sm" ng-click="deleteProduct(p.id)"
                        style="color: red; background-color: #e3f2fd" title="Delete product">&#10006;
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="container">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" ng-repeat="pageIndex in paginationArray">
                    <button class="page-link" style="background-color: #e3f2fd;" ng-click="getProducts(pageIndex)">
                        {{ pageIndex }}
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>